.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

.contact-form .MuiOutlinedInput-root {
  background-color: white;   // Set input background
  color: black;               // Set input text color
}

.contact-form .MuiOutlinedInput-notchedOutline {
  border-color: #ccc;         // Optional: style the outline border
}

.contact-form .MuiInputLabel-root {
  color: #555;                // Label color
}

body.dark-mode .contact-form .MuiOutlinedInput-root {
  background-color: #1e1e1e;  // Dark mode input background
  color: white;               // Dark mode text color
}

body.dark-mode .contact-form .MuiInputLabel-root {
  color: #aaa;                // Dark mode label
}